@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Inter:wght@400;700&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Nunito+Sans:wght@300;600;800&family=Overpass:wght@300&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Dark-Blue1: hsl(209, 23%, 22%);
    --Very-Dark-Blue: hsl(207, 26%, 17%);
    --Dark-Blue : hsl(200, 15%, 8%);
    --Dark-Gray: hsl(0, 0%, 52%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);

}
[data-theme="dark"] {
    --Very-Light-Gray:hsl(203, 20%, 12%);
    --Dark-Gray: hsl(0, 0%, 52%);
    --White: hsl(200, 15%, 8%);
    --Dark-Blue: hsl(0, 0%, 100%);
  }
  [data-theme="light"] {
    --Dark-Blue1: hsl(209, 23%, 22%);
    --Very-Dark-Blue: hsl(207, 26%, 17%);
    --Dark-Blue : hsl(200, 15%, 8%);
    --Dark-Gray: hsl(0, 0%, 52%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}

html{
    font-size : 62.5%;
    min-height:100%;

}
body{
    font-family:Nunito Sans, sans-serif ;
    height:100%;
   
}

img{
    max-width: 100%;
}
.app {
    background-color: var(--Very-Light-Gray);
    min-height: 100vh;
    margin: 0 auto;
    
   
}


.top-container{
    display : flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--White);
    /* border: 1px solid black; */
    padding: 3.2rem 2rem;
    color: var(--Dark-Blue);
    box-shadow: 0 0 0.25rem 0.25rem rgba(0, 0, 0, 0.03);
   
   

}
.top-container.country{
    font-weight: 800;
    font-size: 1.4rem;
    

}
.dark-theme-wrapper{
    display : flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    cursor: pointer;
}
.dark-theme-wrapper img{
    height : 1.7rem;
    cursor: pointer;
    color:var(--White) ;

}
.dark-theme-wrapper h2{
    font-weight: 600;
    font-size: 1.4rem;
}
.loading {
    font-size: 1.4rem;
    font-weight: 600;
}
.search{
    display : flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding :1rem 2rem;
    background-color: var(--White);
    color: var(--Dark-Gray);
    /* border: 1px solid black; */
    border-radius:0.5rem;
    margin: 2.5rem 2rem 4.2rem 2rem;
    box-shadow: 0 0 0.25rem 0.25rem rgba(0, 0, 0, 0.03);

}
.search input{
    font-size: 1.4rem;
    font-weight: 600;
    flex: 1;
    border: none;
    outline : none;
    background-color: var(--White);
    color: var(--Dark-Gray);
}
.search img{
    height : 3rem;
    cursor: pointer;
    fill: var(--White);
   

}
.search input::placeholder{
   
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--Dark-Gray);
   

}

select{
    width: 53%;
    /* padding :1.5rem 2rem; */
    background-color: var(--White);
     /* border: 1px solid black;   */
    border-radius:0.5rem;
    margin-left:2rem;
    outline: none;
    
    padding :1.5rem 2rem;
    border: none;
    margin-bottom:4.3rem;
    box-shadow: 0 0 0.25rem 0.25rem rgba(0, 0, 0, 0.03);
    color: var(--Dark-Gray);
    
   
}
select option{
    background-color: var(--White);
    margin-bottom: 0.5rem;
    
    color: var(--Dark-Gray);
}
.loading h4{
    font-size: 2.0rem;
    padding :3.2rem;
}
.countrydata{

    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    
}





.country {
    padding-left: 5rem ;
    color: var(--Dark-Blue);
    
}

    /* border: 1px solid rgb(10, 11, 112); */



.country img{
   width: 28rem;
   height: 17.4rem;
   border-radius: 0.5rem 0.5rem 0 0;
   margin-bottom: -0.5rem;
   

  
}
.country .properties{
    padding: 3rem 0 4.2rem 2.5rem;
    /* border: 1px solid black;  */
    background-color: var(--White);
    width: 28rem;
    border-radius: 0 0 0.5rem 0.5rem;

}
.country .properties :hover {
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);

}

.country .properties h3{
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 2.2rem;
}
.country .properties div{
    display : flex;
    flex-direction: column;
    gap: 2rem;

}
.country .properties h4{
    font-size: 1.4rem;
    font-weight:600;
    margin-bottom:0.5rem;
}
.country .properties span{
    font-weight:300;}


    /* 
 country details page style  */



.country__info__wrapper button{
    display: flex ;
    align-items: center;
    justify-content: space-between;
    padding : 1rem 5rem;
    border-radius: 0.8rem;
    margin: 7.5rem 0 7.5rem 3.2rem  ;
    color:var( --Dark-Gray) ;
     background-color: var(--White);
     border: none;
}
.country__info__wrapper button span {
    text-decoration: none;
    
}

.country__info__wrapper button img {
    height : 1.8rem;
    cursor: pointer;
    width: 2rem;
    margin-right:1rem ;

}
.country__info__container{
    margin-left:  3.2rem; 
    display: flex;
    gap: 15rem;
    
}
.country__info__container .country__info-img img {

    height: auto;
    max-width: 56rem;
    max-height: 40rem;

}
.country__info{
   display: flex;
   flex-direction: column;
   align-items:flex-start;
   justify-content: flex-start;
   margin-top: 6rem;
}
.country__info__right__left{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15rem;
  
    margin-bottom:6rem;


}
.country__info h3{
    font-size:3.0rem;
    letter-spacing: 0.05px;
    margin-bottom:3rem;
    color: var(--Dark-Blue);

}
.country__info__right__left h4{
    font-size: 1.4rem;
    font-weight:600;
    margin-bottom:0.9rem;
    color: var(--Dark-Blue);
}

.country__info__right__left h4 span{
    font-weight:300;
}
.border {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
   
  

}

.border h4 {
    font-size: 1.4rem;
    font-weight:600;
    color: var(--Dark-Blue);
    display: flex;
    gap: 1rem;
}
.border h4 div{
    width: 5rem;
    height: 2rem;
    font-weight:300;
    background-color: var(--White);
    color: var(--Dark-Blue);
    box-shadow: 0 0 0.25rem 0.25rem rgba(0, 0, 0, 0.03);
    cursor: pointer;
    text-align: center;
}






@media screen and (max-width:280px){
 
    .country {
        padding-left: 0.1rem ;
}
}
@media screen and (max-width:320px){
    .country {
        padding-left: 0.6rem ;
}
}

@media screen and (min-width:467px){
    .country {
        padding-left: 7.6rem ;
}}
@media screen and (max-width:374px){
    .country , .top-container {
        padding-left: 2.8rem ;
        }
   
    .dark-theme-wrapper{
        margin-left: 0.23rem ;
    }
}
@media screen and (min-width:680px){
    .countrydata{

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 50px;

    }
    .country {
        padding-left: 3.1rem ;
}

    
}



@media screen and (min-width:1024px){
    .top-container h2 span {
        font-weight: 800;
        font-size: 1.7rem !important;
    }
    .search-filter{
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* border: 1px solid black; */
       
    }
     .search{
        width: 35%;
        margin-left: 5rem;
    }
    select{
        width:20rem;
        margin-top: 2rem;
    }
    .countrydata{

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 50px;
    }
    .country, .top-container {

        padding-left: 3rem;
        padding-right: 2.4rem;
    }
    .search-country {
        padding-right: 2.4rem;

    }

}


 @media screen and (min-width:1440px){

    .top-container h2 span {
        font-weight: 800;
        font-size: 2rem !important;
    }
    .search-filter{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
       
    }
     .search{
        width: 35%;
        margin-left: 5rem;
    }
    select{
        width:20rem;
        margin-top: 2rem;
    }
    .countrydata{

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 50px;
    }
    .country, .top-container {

        padding-left: 3rem;
       padding-right: 2.4rem;
    }
    .search-country {
        padding-right: 2.4rem;

    }

}
@media screen and (max-width:1204px){
    .country__info__container{
        display: flex;
        gap: 6rem;
      
    }

    .country__info__right__left{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
}


@media screen and (max-width:850px){
    
    .country__info__container .country__info-img img {

        height:auto;
        width: 95%;
        
    }
    

}
@media screen and (max-width:713px){
    
    .country__info__container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    

}
@media screen and (max-width:412px){
    
    .country__info__container .country__info-img img {

        height:auto;
        width: 88%;
        
    }
    

}
@media screen and (max-width:280px){
    .country{
        padding-left: 0rem;
    }
}